Host deals.lv 
     User aerobitch 
     ForwardAgent yes

Host bankueksperti.lv
    User semjon
    ForwardAgent yes

Host *.*.swiftserve.com
     User root
     Port 2222
     ForwardAgent yes
     StrictHostKeyChecking no
