Host deals.lv 
     User aerobitch 
     ForwardAgent yes

Host bankueksperti.lv
    User semjon
    ForwardAgent yes

Host portal.*.swiftserve.com provisioning.*.swiftserve.com
     User root
     Port 2222
     ForwardAgent yes
     StrictHostKeyChecking no

Host *
     Controlmaster auto
     Controlpath ~/.ssh/ssh-%r@%h:%p.sock
